.svgWrap{
    display: inline-block;
    position: relative;
}
.svg{
    width: 100%;
    position: absolute;
    left: 0;
}
.path{
    fill: none;
    stroke: $mainColor;
    stroke-width: 10px;
    animation-name: line;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes line{
    0%{
        stroke-dasharray: 489px;
        stroke-dashoffset: 489px;
    }
    100%{
        stroke-dasharray: 489px;
        stroke-dashoffset: 0px;
    }
}
.header {
    background-image: url(../img/mainFon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 192px 0 224px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color:#444 ;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        top: 0;
    }

}
.header__box {
    position: relative;
}
.header__inner{
    color: #fff;
    max-width: 566px;
}
.header__title {
    font-weight: 700;
    font-size: clamp(44px,5vw,80px);
    line-height: clamp(44px,5vw,80px);
    margin-bottom: 30px;

}
.header__txt {
    margin-bottom: 30px;
}
.header__btn {
    @include btn;
}